<h1> Hello <%= current_user.username %> </h1>
<h2> Select a club to learn more: </h2>
<% @clubs.each do |c| %>
<h3> <a href="/clubs/<%= c.slug %>"> <%= c.name %></a> </h3>
<p> <%= c.description %> </p>
<% end %>
<a href="/clubs/new"> Create new club</a>
