<h2>Create a new Bookclub </h2>
<form action="/clubs" method="POST">

  <label for="name">Club name:</label>
  <input type="text" id="name" name="name" required><br>

  <label for="description">Club description:</label>
  <input type="text" id="description" name="description" required><br>

  <label for="book">Book of the week:</label>
  <input type="text" id="book" name="book" required><br>

  <input type="submit" id="submit" name="submit" value="Create new club!">
</form>
