<h2>Login to Bookclub</h2>
<form action="/login" method="POST">
  <label for="username" id="username">Username:</label>
  <input type="text" id="username" name="username" required><br>

  <label for="password" id="password">Password:</label>
  <input type="password" id="password" name="password" required><br>

  <input type="submit" name="submit" id="submit" value="Log in!">

  <br>
  <br>
  Or click to <a href="/signup">sign up</a>!

</form>
